@font-face {
    font-family: 'Rochester-Regular-webfont';
    src: url(../CSS/fonts/rochester_regular_macroman/Rochester-Regular-webfont.eot);
    src: url(../CSS/fonts/Rochester-Regular-webfont.eot?#iefix) format('embedded-opentype'),
    url('../CSS/fonts/rochester_regular_macroman/Rochester-Regular-webfont.woff') format('woff'),
    url('../CSS/fonts/rochester_regular_macroman/Rochester-Regular-webfont.ttf') format('truetype'),
    url('../CSS/fonts/rochester_regular_macroman/Rochester-Regular-webfont.svg') format('svg');
}

h1,h2{
    text-align: center;
    margin-top: 100px;
    font-size: 38px;
}

p, article{
    text-align: justify;
    font-size: 24px;
    margin: auto;
    padding: 50px;
}

div#liste{
    padding: 50px;
}


figcaption { 
    position: relative;
    float: left;
    left: -90%;
}

figure{ 
    display:block; 
    margin: 1em 40px;
    float: right;
    text-align: center;
    font-size: large;
    font-weight: bold; 
    
}
ul{
    font-size: 24px;
    margin-right: 20px;
}



em{
    color: red;
}

body{
background-image: url(../IMG/Matsumoto_castle_08.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 4000px;
font-family: 'Rochester-Regular-webfont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 350px;
    float: right;
    position:relative;
    left: -125%;
       top: 0%;
   margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
   margin-top: -0px; 
    
}

legend{
    float: right;
}
/*Navbar*/
#wrap{

top: -20px;
position: absolute; 
    z-index: 99; 
 
    }

.navbar li {
height: auto;
width: 139.8px; 
float: right;  
text-align: center; 
list-style: none;  
font: normal bold 13px/1em;  
padding: 10px;
margin: 10px;
border-radius: 100px 100px 100px 100px; 
margin:auto;


}

.navbar a{							
padding: 5px ;  
border-radius: 100px 100px 100px 100px;
text-decoration: none; 
color: blue; 
display: block;
background-color: #fffbfb;
}


.navbar li ul{
display: none;
height: auto;									
margin: 0; 
padding: 0; 
}

.navbar li:hover ul{
display: block;
}

.navbar li ul li a:hover{
background-color: #a3a1a1;
                        }
/*Fin CSS NAVBAR */